@{
    ViewData["Title"] = "Home Page";
}



@*          www.hasan.com/home/index/id     *@

@*  wwww.merkez.com/personel/profil/1  berk *@
@*  wwww.merkez.com/personel/profil/2 *@
@*  wwww.merkez.com/personel/profil/3 *@

<a class="btn btn-outline-primary"  asp-route-id ="1" asp-action="LayoutTest" asp-controller="Home">Test sayfasına git</a>


@section Scripts{

    <script>

        console.log("asd");

    </script>

}


@section internalCss{


    <style>

    
    a{
        color:red;
    }
    </style>

}



<p>data asdajdlşajsdkajskldj</p>
<p>data asdajdlşajsdkajskldj</p>
<p>data asdajdlşajsdkajskldj</p>
<p>data asdajdlşajsdkajskldj</p>
<p>data asdajdlşajsdkajskldj</p>
<p>data asdajdlşajsdkajskldj</p>